.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #c4c4c4;
}

.login-heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-label {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}

.login-input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-button {
  width: 100%;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #007bff;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-hint {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
